<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
</head>
<body>
    <form action="/createblog" method="post" enctype="multipart/form-data">
        <label for="title">Title</label><br>
        <input type="text" name="title" id="" placeholder="Title of the blog..."><br><br>

        <label for="description">Description</label><br>
        <input type="textarea" name="description" id="" placeholder="Blog content here..."><br><br>

        <label for="image">Image</label><br>
        <input type="file" name="title" id=""><br><br>

        <input type="button" value="Create">
    </form>
</body>
</html>